<div>edit text field</div>

<div>
  <label>
    <input type="checkbox" name="required">
    required field
  </label>
  <div>You won't be able to publish an entry if this field is empty</div>
</div>

<div>
  <label>
    <input type="checkbox" name="unique">
    unique field
  </label>
  <div>You won't be able to publish an entry if there is an existing entry with identical content</div>
</div>

<div>
  <label>
    <input type="checkbox" name="unique">
    Limit character count
  </label>
  <div>Specify a minimum and/or maximum allowed number of characters</div>
</div>