<div id="forms">
  <h2 id="title">Add new field</h2>

  <div id="fields">
    <div>
      <label>Name</label>
      <input id="input_name" type="text" name="name">
    </div>
    <div>
      <label>Type</label>
      <select id="input_type">
        <option name="text" value="text">Text</option>
        <option name="number" value="number">Number</option>
        <option name="date" value="date">Date</option>
        <option name="location" value="location">Location</option>
        <option name="boolean" value="boolean">Boolean</option>
      </select>
    </div>
  </div>

</div>