:host {
  display: block;
}

:host {
  --primary-color: #191B2F;
  --container-width: 1200px;
  --navbar-height: 70px;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: column;
}
