:host {
  display: block;
}

:host {
  --primary-color: #191B2F;
  --container-width: 1200px;
  --navbar-height: 70px;
}

#app {
  display: flex;
}

#navbar {
  position: fixed;
  top: 0;

  box-sizing: border-box;
  width: 100%;
  height: var(--navbar-height);
}

#container {
  padding-top: var(--navbar-height);
  flex: 1;
}

#sidebar {
  box-sizing: border-box;
  padding: 40px 20px;
}